.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-font {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 20px;
  color: rgb(241 245 249);
}
